<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>update_user</title>
</head>
<body>
<h1>Update User</h1>
<br>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}" >

  <label for="name">Enter a name:</label>
  <input type="text" th:field="*{name}" id="name">
  <br>
  <label for="age">Enter the age:</label>
  <input type="text" th:field="*{age}" id="age">
  <br>
  <label for="email">Enter email:</label>
  <input type="text" th:field="*{email}" id="email">
  <input type="hidden" th:field="*{id}" >

  <br>

  <input type="submit" value="update User"/>

</form>

</body>