<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add_user</title>
</head>
<body>
<h1>Add User</h1>
<br>

<form th:method="POST" th:action="@{/userAdd}" th:object="${user}" >

    <label for="name">Enter a name:</label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="age">Enter the age:</label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <label for="email">Enter email:</label>
    <input type="text" th:field="*{email}" id="email">

    <br>

    <input type="submit" value="add User"/>

</form>

</body>